*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Kumbh Sans", sans-serif;
}

body {
  height: 100vh;
}

.wrapper {
  max-width: 130rem;
  margin: auto;
  padding: 0 15rem;
}
.wrapper .main {
  display: flex;
  padding: 5rem 5rem;
  gap: 10rem;
}

.overlay-gallery {
  background-color: rgba(0, 0, 0, 0.685);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
}
.overlay-gallery .gallery {
  width: 60vh;
  margin: 10vh auto;
  position: relative;
}
.overlay-gallery .gallery .btn--close {
  position: absolute;
  right: 0;
  top: -3rem;
  z-index: 100;
  background: none;
  border: none;
  cursor: pointer;
}
.overlay-gallery .gallery .btn--close img {
  filter: brightness(200%);
}

.header {
  display: flex;
  align-items: center;
  border-bottom: 2px solid hsl(223deg, 64%, 98%);
  position: relative;
}
.header .menu-icon {
  margin-right: 2rem;
  display: none;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
.header .logo {
  margin-right: 5rem;
}
.header .nav {
  font-size: 1.4rem;
}
.header .nav__items {
  display: flex;
  list-style: none;
  gap: 2rem;
}
.header .nav__item {
  position: relative;
  display: flex;
}
.header .nav__link:link, .header .nav__link:visited {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: hsl(219deg, 9%, 45%);
  font-weight: 400;
  height: 8rem;
  border-bottom: 3px solid transparent;
}
.header .nav__link:hover, .header .nav__link:active {
  color: hsl(0deg, 0%, 0%);
  border-bottom: 3px solid hsl(26deg, 100%, 55%);
}
.header .user-container {
  display: flex;
  gap: 3rem;
  margin-left: auto;
  position: relative;
}
.header .user-container .amount-circle {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.8rem;
  width: 2.4rem;
  top: -3px;
  left: 1rem;
  background-color: hsl(26deg, 100%, 55%);
  border-radius: 1rem;
  color: white;
  font-weight: 700;
}
.header .user-container .icon-cart {
  align-self: center;
  cursor: pointer;
}
.header .user-container .img-avatar {
  box-sizing: content-box;
  border: 2px solid transparent;
  height: 4rem;
  border-radius: 50%;
  cursor: pointer;
}
.header .user-container .img-avatar:hover {
  border: 2px solid hsl(26deg, 100%, 55%);
}

.nav-open .nav .menu-icon[name=close-outline] {
  position: fixed;
  z-index: 20;
  top: 2.5rem;
  left: 2rem;
}

.nav-open .overlay-menu {
  background-color: rgba(0, 0, 0, 0.678);
  position: fixed;
  width: 100%;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  -webkit-animation: fade 0.3s;
          animation: fade 0.3s;
}

.gallery {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.gallery__btn {
  display: none;
  position: absolute;
  background: hsl(223deg, 64%, 98%);
  border: none;
  align-self: center;
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
  transform: translateY(-50%);
  top: 47.5%;
  box-shadow: 2px 2px 15px 5px rgba(0, 0, 0, 0.075);
  cursor: pointer;
}
.gallery__btn--left {
  left: 0;
  transform: translateX(-50%);
}
.gallery__btn--right {
  right: 0;
  transform: translateX(50%);
}
.gallery__btn img {
  height: 25%;
  width: 25%;
}
.gallery__hero--item {
  position: relative;
}
.gallery__hero--img {
  width: 100%;
  border-radius: 1rem;
  cursor: pointer;
  display: block;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
.gallery .thumbnails {
  display: flex;
  gap: 1.5rem;
  padding-block: 1.5rem;
}
.gallery .thumbnail-img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 1rem;
  cursor: pointer;
  display: block;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
.gallery__overlay {
  border: 2px solid orange;
  border-radius: 1rem;
  position: relative;
  filter: brightness(80%) contrast(140%);
}

.product-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  flex: 1;
}
.product-info .heading-1 {
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 2rem;
}
.product-info .heading-2 {
  color: hsl(26deg, 100%, 55%);
  font-size: 1rem;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}
.product-info .description {
  font-size: 1.4rem;
  color: hsl(219deg, 9%, 45%);
}
.product-info .price-container {
  display: grid;
  grid-template-columns: -webkit-min-content -webkit-min-content;
  grid-template-columns: min-content min-content;
  grid-gap: 0.5rem 0.8rem;
  align-items: center;
  font-weight: 700;
  margin-bottom: 1rem;
}
.product-info .price-container .new-price {
  font-size: 2.8rem;
}
.product-info .price-container .discount {
  font-size: 1.6rem;
  color: hsl(26deg, 100%, 55%);
  background: hsl(25deg, 100%, 94%);
  padding: 2px 8px;
}
.product-info .price-container .old-price {
  font-size: 1.6rem;
  color: hsl(220deg, 14%, 75%);
  text-decoration: line-through;
}
.product-info .order-container {
  display: flex;
  gap: 1.5rem;
}
.product-info .order-container .quantity-field {
  display: flex;
  background-color: hsl(223deg, 64%, 98%);
  border-radius: 1rem;
  padding: 1rem;
  gap: 4rem;
  align-items: center;
  font-weight: 700;
  font-size: 1.4rem;
}
.product-info .order-container .quantity-field .quantity-btn {
  color: hsl(26deg, 100%, 55%);
  justify-content: center;
  display: flex;
  align-items: center;
  height: 2.5rem;
  width: 2.5rem;
}
.product-info .order-container .quantity-value {
  width: 1rem;
}

.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.display-none {
  display: none !important;
}

@media only screen and (min-width: 90em) {
  html {
    font-size: 75%;
  }
}
@media only screen and (max-width: 62em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 35.5em) {
  html {
    font-size: 62.5%;
  }
}

@media only screen and (min-width: 90em) {
  .wrapper {
    max-width: 150rem;
  }
}
@media only screen and (max-width: 70em) {
  .wrapper {
    padding: 0 5rem;
  }
}
@media only screen and (max-width: 47.5em) {
  .wrapper {
    padding: 0;
  }
}

@media only screen and (max-width: 760px) {
  .wrapper .main {
    gap: 5rem;
    padding: 5rem 2rem;
  }
}
@media only screen and (max-width: 35.5em) {
  .wrapper .main {
    flex-direction: column;
    padding: 0;
    gap: 0;
  }
  .wrapper .main .thumbnail-item {
    display: none;
  }
}

@media screen and (max-width: 35.5em) {
  .overlay-gallery .gallery {
    width: 50vh;
  }
}

@media only screen and (max-width: 35.5em) {
  .gallery__hero--img {
    border-radius: 0;
    height: 70vw;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media only screen and (max-width: 35.5em) {
  .gallery__btn {
    display: block;
    position: absolute;
    background: hsl(223deg, 64%, 98%);
    border: none;
    align-self: center;
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    transform: translateY(-50%);
    top: 50%;
  }
  .gallery__btn--left {
    left: 1rem;
  }
  .gallery__btn--right {
    right: 1rem;
  }
}

@media only screen and (max-width: 47.5em) {
  .header {
    padding: 0 2rem;
  }
}
@media only screen and (max-width: 35.5em) {
  .header {
    padding: 1rem 2rem;
  }
}
@media only screen and (max-width: 35.5em) {
  .header .menu-icon {
    display: block;
  }
}

@media only screen and (max-width: 47.5em) {
  .logo {
    margin-right: 3rem;
  }
}

@media only screen and (max-width: 35.5em) {
  .nav {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

@media only screen and (max-width: 35.5em) {
  .nav__items {
    flex-direction: column;
    position: fixed;
    background-color: white;
    height: 100%;
    width: 70%;
    top: 0;
    left: 0;
    padding: 7rem 0rem;
    gap: 0 !important;
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 35.5em) {
  .nav__items .nav__link:link,
.nav__items .nav__link:visited {
    font-weight: 700;
    color: hsl(0deg, 0%, 0%);
    height: 4rem;
    width: 100%;
    border-bottom: none;
    padding: 0 2rem;
  }
  .nav__items .nav__link:hover::before,
.nav__items .nav__link:active::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: hsl(26deg, 100%, 55%);
    z-index: -1;
    -webkit-animation: moveInRight 0.3s ease-out;
            animation: moveInRight 0.3s ease-out;
  }
}

.header {
  position: relative;
}
@media only screen and (max-width: 35.5em) {
  .header .user-container {
    position: initial;
  }
  .header .user-container .amount-circle {
    left: unset;
    top: 8px;
    margin-left: 5px;
    height: 1.6rem;
    width: 2rem;
  }
}
@media only screen and (max-width: 70em) {
  .header .user-container .cart {
    top: 110%;
    right: 0%;
  }
}
@media only screen and (max-width: 47.5em) {
  .header .user-container .cart {
    top: 7rem;
    right: 2rem;
  }
}
@media only screen and (max-width: 35.5em) {
  .header .user-container .cart {
    width: 95%;
    top: 8rem;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .header .user-container .cart .btn--checkout {
    max-width: 325px;
  }
}

@media only screen and (max-width: 35.5em) {
  .img-avatar {
    height: 3rem;
  }
}

@media only screen and (max-width: 35.5em) {
  .nav-open .nav {
    opacity: 1;
    visibility: visible;
    -webkit-animation: fade 0.3s;
            animation: fade 0.3s;
    pointer-events: auto;
    z-index: 3;
  }
}

@media only screen and (max-width: 35.5em) {
  .nav-open .overlay-menu {
    opacity: 1;
    visibility: visible;
    height: 100%;
    z-index: 2;
  }
}

@media only screen and (max-width: 35.5em) {
  .product-info {
    padding: 0 2.5rem 2.5rem 2.5rem;
    gap: 1.5rem;
    max-width: 45rem;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 35.5em) {
  .heading-1 {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 35.5em) {
  .description {
    line-height: 1.6;
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 35.5em) {
  .price-container {
    grid-template-columns: -webkit-min-content -webkit-min-content 1fr !important;
    grid-template-columns: min-content min-content 1fr !important;
  }
}

@media only screen and (max-width: 35.5em) {
  .old-price {
    justify-self: end;
  }
}

@media only screen and (max-width: 35.5em) {
  .order-container {
    flex-direction: column;
  }
}

@media only screen and (max-width: 35.5em) {
  .quantity-field {
    width: 100%;
    justify-content: space-between;
  }
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes moveInRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.btn {
  border: none;
  background-color: transparent;
  display: inline-block;
  border-radius: 1rem;
  cursor: pointer;
}

.btn__add {
  background-color: hsl(26deg, 100%, 55%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  font-weight: 700;
  color: hsl(0deg, 0%, 100%);
  padding: 1.5rem;
  width: 100%;
  transition: all 0.2s;
}
.btn__add:hover {
  background-color: rgb(255, 184, 92);
}
.btn__add img {
  filter: brightness(300%);
  height: 1.5rem;
}

.cart {
  position: absolute;
  background-color: white;
  top: 7rem;
  right: -5rem;
  box-shadow: 0 10px 20px 2px rgba(0, 0, 0, 0.116);
  border-radius: 1rem;
  min-height: 20rem;
  width: 30rem;
  font-size: 1.2rem;
  z-index: 20;
}
.cart__header {
  font-weight: 700;
  border-bottom: 1px solid rgba(0, 0, 0, 0.103);
  padding: 2rem 2rem;
}
.cart__container {
  display: grid;
  grid-template-columns: -webkit-max-content 1fr;
  grid-template-columns: max-content 1fr;
  grid-template-rows: 80px;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  color: hsl(219deg, 9%, 45%);
}
.cart__container img {
  width: 5rem;
  height: 5rem;
}
.cart__container .cart__empty {
  display: inline-block;
  align-self: center;
  justify-self: center;
  grid-column: 1/-1;
  grid-row: 1/-1;
  font-weight: 700;
  font-size: 1.4rem;
}
.cart__text .product-name {
  margin-bottom: 5px;
  display: block;
}
.cart__text .price-summary {
  color: black;
  font-weight: 700;
  font-size: 1.3rem;
  margin-left: 4px;
}
.cart__text .icon-delete {
  position: absolute;
  right: 2rem;
  top: 45%;
  height: 1.2rem;
  width: 1.2rem;
  cursor: pointer;
}
.cart .btn--checkout {
  width: 100%;
  margin: 0 auto;
  grid-column: 1/span 2;
  grid-row: 2/2;
}/*# sourceMappingURL=main.css.map */