// Primary

$color-orange: hsl(26, 100%, 55%);
$color-light-orange: rgb(255, 184, 92);
$color-pale: hsl(25, 100%, 94%);

// Neutral
$color-very-dark-blue: hsl(220, 13%, 13%);
$color-dark-grayish-blue: hsl(219, 9%, 45%);
$color-grayish-blue: hsl(220, 14%, 75%);
$color-light-grayish-blue: hsl(223, 64%, 98%);
$color-white: hsl(0, 0%, 100%);
$color-black: hsl(0, 0%, 0%);

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	font-family: "Kumbh Sans", sans-serif;
}
body {
	height: 100vh;
}

.wrapper {
	max-width: 130rem;
	margin: auto;
	padding: 0 15rem;

	.main {
		display: flex;
		padding: 5rem 5rem;
		gap: 10rem;
	}
}

.overlay-gallery {
	background-color: rgba(0, 0, 0, 0.685);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	width: 100%;
	height: 100%;

	.gallery {
		width: 60vh;
		margin: 10vh auto;
		position: relative;
		.btn--close {
			position: absolute;
			right: 0;
			top: -3rem;
			z-index: 100;
			background: none;
			border: none;
			cursor: pointer;

			img {
				filter: brightness(200%);
			}
		}
	}
}
