.header {
	display: flex;
	align-items: center;
	border-bottom: 2px solid $color-light-grayish-blue;
	position: relative;

	.menu-icon {
		margin-right: 2rem;
		display: none;
		cursor: pointer;
		outline: none;
		-webkit-tap-highlight-color: transparent;
	}

	.logo {
		margin-right: 5rem;
	}
	.nav {
		font-size: 1.4rem;

		&__items {
			display: flex;
			list-style: none;
			gap: 2rem;
		}
		&__item {
			position: relative;
			display: flex;
		}

		&__link:link,
		&__link:visited {
			display: flex;
			align-items: center;
			text-decoration: none;
			color: $color-dark-grayish-blue;
			font-weight: 400;
			height: 8rem;
			border-bottom: 3px solid transparent;
		}
		&__link:hover,
		&__link:active {
			color: $color-black;
			border-bottom: 3px solid $color-orange;
		}
	}

	.user-container {
		display: flex;
		gap: 3rem;
		margin-left: auto;
		position: relative;

		.amount-circle {
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 1.8rem;
			width: 2.4rem;
			top: -3px;
			left: 1rem;
			background-color: $color-orange;
			border-radius: 1rem;
			color: white;
			font-weight: 700;
		}

		.icon-cart {
			align-self: center;
			cursor: pointer;
		}
		.img-avatar {
			box-sizing: content-box;
			border: 2px solid transparent;
			height: 4rem;
			border-radius: 50%;
			cursor: pointer;

			&:hover {
				border: 2px solid $color-orange;
			}
		}
	}
}

.nav-open .nav .menu-icon[name="close-outline"] {
	position: fixed;
	z-index: 20;
	top: 2.5rem;
	left: 2rem;
}
.nav-open .overlay-menu {
	background-color: rgba(0, 0, 0, 0.678);
	position: fixed;
	width: 100%;
	height: 100vh;

	opacity: 0;
	visibility: hidden;
	animation: fade 0.3s;
}
